*{
    margin:  0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
      background: #001e4d;
}
.app{
      background-color: white;
      width: 35%;
      max-width: 480px;
      margin: 90px auto 0;
      border-radius: 9px;
      padding: 22px;
}
.app h1{
    font-size: 25px;
    color:#001e4d;
    font-weight: 550;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.Quiz{
    padding: 15px 0;
    
}
.Quiz h3{
         font-size: 20px;
         color: #001e4d;
         font-weight: 600;
         padding-bottom: 5px;
}
.btn{
    background-color: white;
    color: #222;
    font-weight: 400;
    width: 100%;
    border: 1px solid #222;
    padding: 8px;
    margin: 6px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 120px;
    border: 0;
    padding: 8px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: green;
}
.incorrect{
    background: red;
}