body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; 
    font-size: 8vmin;
    color: red;
    
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: blanchedalmond;
}
#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: blanchedalmond;
    color: black;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: antiquewhite;
    font-size: 5vmin;
}
.msg-container{
height: 30vmin;
}
.hide{
    display: none;
}